{% extends 'main/layuot/base.html' %}
{% load main_filters %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}

    <h1>{{ title }}</h1>

    <div class="d-flex justify-content-center">

        <div>
           {% with gallery=product.gallery.first %}
                {% if gallery %}
                    <img src="{{ gallery.image.url }}" width="500" height="500" class="rounded float-start" alt="Изображение товара - {{ product.title }}">
                {% else %}
                    <img src="{% static 'img/not-found.jpg' %}" width="500" height="500" class="rounded float-start" alt="Нет изображения товара">
                {% endif %}
            {% endwith %}
        </div>


        <div class="card-body mt-5">

            {% if product.description %}
                <p class="card-text">Описание: {{ product.description }}</p>
            {% else %}
                <p class="card-text">Описание: <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deserunt laboriosam, necessitatibus nostrum optio sint sit! Accusamus accusantium aspernatur commodi laudantium officiis quisquam quod veniam? Deleniti eveniet quam reiciendis voluptas?</span><span>Accusamus aliquam at atque consectetur consequuntur dolorem fuga fugit inventore iure, iusto labore minima necessitatibus neque pariatur qui quia rerum sint soluta unde vero? Eligendi expedita impedit nemo obcaecati rerum?</span><span>Ad aliquid aspernatur at blanditiis commodi cum delectus eius error esse, exercitationem id inventore ipsam itaque iure minima minus mollitia odio optio quia repellat, soluta sunt ullam unde ut voluptate.</span></p>
            {% endif %}

            <button type="button" class="btn btn-primary mt-5">Добавить в корзину</button>
        </div>

    </div>

{% endblock content %}