{% extends 'main/layuot/base.html' %}
{% load main_filters %}
{% load static %}
{% load thumbnail %}


{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}

<h1>{{ title }}</h1>

<form method="post" class="w-75" enctype="multipart/form-data">

    <div>
        {% thumbnail product.image "400x400" crop="center" as im %}
            <img src="{{ im.url }}" alt="Изображение {{ im.title }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    </div>

    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-outline-warning w-25 mb-5">
        {% if mode == 'create' %}
            Создать
        {% elif mode == 'edit' %}
            Сохранить
        {% endif %}
    </button>

</form>

{% endblock content %}