version: '3.7'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    command: python3 manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    ports:
      - "5432:5432"
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  celery:
    restart: always
    build: .
    command: celery -A commerce worker -l info
    volumes:
      - .:/code
    depends_on:
      - db
      - redis
      - web