{% extends 'main/layuot/base.html' %}

{% load static %}
{% load thumbnail %}


{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}

    <h1>{{ title }}</h1>

    <div class="m-5 d-flex justify-content-center flex-column">

        <div class="mb-3">
            {% thumbnail request.user.profile.avatar "150x150" crop="center" as im %}
                <img src="{{ im.url }}"
                     alt="Изображение {{ im.title }}"
                     width="{{ im.width }}"
                     height="{{ im.height }}"
                     style="object-fit: contain; border-radius: 30px;"
                >
            {% endthumbnail %}
        </div>

        <form method="post" class="row g-3 w-25 d-flex flex-column" enctype="multipart/form-data">

            {% csrf_token %}

            {% for field in form %}

                <div class="col mw-100">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <span>{{ field }}</span>

                    <div class="form-error">{{ field.errors }}</div>
                </div>

            {% endfor %}

            {{ profile_form.management_form }}
            {% for inline_form in profile_form %}

                <div class="col mw-100">
                    <label for="{{ inline_form.id_for_label }}" class="form-label">{{ inline_form.label }}</label>
                    <span>{{ inline_form }}</span>

                    <div class="form-error">{{ inline_form.errors }}</div>

                </div>

            {% endfor %}

            <button type="submit" class="btn btn-outline-warning mt-5">Сохранить</button>

        </form>
    </div>

{% endblock content %}