<nav aria-label="Products pagination">
    <ul class="pagination pagination-lg">

        {% if page_obj.has_previous %}
            <li class="page-item" style="cursor: pointer;">
                <a class="page-link" href="?tag={{ active_tag }}&page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for current_page in paginator.page_range %}
            {% if current_page == page_obj.number %}
                <li class="page-item active" style="cursor: pointer;">
                    <a class="page-link" href="?tag={{ active_tag }}&page={{ current_page }}">
                        {{ current_page }}
                    </a>
                </li>
            {% elif current_page >= page_obj.number|add:-2 and current_page <= page_obj.number|add:2 %}
                <li class="page-item" style="cursor: pointer;">
                    <a class="page-link" href="?tag={{ active_tag }}&page={{ current_page }}">
                        {{ current_page }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item" style="cursor: pointer;">
                <a class="page-link" href="?tag={{ active_tag }}&page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>
