{% load main_tags %}
{% load thumbnail %}


<header class="navbar navbar-expand-md d-flex align-items-center justify-content-between
               navbar-dark bg-dark fixed-top">

    {% include 'main/navigations/menu.html' %}

    <div class="d-flex align-items-center">

        <span class="mx-4 text-light">Время: {% get_date_server %}</span>

        {% if request.user.is_authenticated %}
            <span class="mx-4 text-light">
                {% if request.user.get_full_name  %}
                    Вошли как: <b>{{ request.user.get_full_name }}</b>
                {% else %}
                    Вошли как: <b>{{ request.user }}</b>
                {% endif %}
            </span>

            {% thumbnail request.user.profile.avatar "50x50" crop="center" as im %}
                <img src="{{ im.url }}"
                     alt="Изображение {{ im.title }}"
                     width="{{ im.width }}"
                     height="{{ im.height }}"
                     style="object-fit: contain; border-radius: 30px;"
                >
            {% endthumbnail %}
        {% endif %}

        <div class="mx-5 d-flex align-items-center" style="color:#ffffff;">

            {% if request.user.is_authenticated %}
                <span>
                    <a href="{% url 'create-product' %}" class="link-warning">Добавить товар</a>
                    | <a href="{% url 'profile-update' %}" class="link-warning">Профиль</a>
                    | <a href="{% url 'account_logout' %}" class="link-warning">Выйти</a>
                </span>
            {% else %}
                <span>
                    <a href="{% url 'account_signup' %}" class="link-warning">Регистрация</a> |
                    <a href="{% url 'account_login' %}" class="link-warning">Войти</a>
                </span>
            {% endif %}

        </div>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</header>