
.bg-dark {
    background-color: #343a40!important;
}

.navbar {
    padding: .5rem 1rem;
}

body {
    padding-top: 5rem;
}

#chat-log {
    background-color : #ffffff;
}

.js-chat-open {
    width: 300px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -1px;
    right: 60px;
    cursor: pointer;
}

.js-chat-block {
    flex-direction: column;
    width: 340px;
    height: 445px;
    position: fixed;
    bottom: 26px;
    right: 60px;
}

.js-close-chat {
    border: 2px solid #ffc107;
    color: #ffc107;
    cursor: pointer;
    border-radius: 14px;
    width: 30px;
    text-align: center;
    position: absolute;
    right: -14px;
    top: -37px;
    font-size: 16px;
}