
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.content__wrp {
    padding: 20px 100px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
}

.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
}